.main-page {
  scroll-behavior: smooth;
  background: linear-gradient(345deg, rgb(24, 24, 24) 0%, rgb(11, 11, 11) 100%);
  color: white;

  & body {
    position: relative;
  }
}

.link {
  margin: auto 1rem;
  display: inline-block;

  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgb(67, 67, 67);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;

  transition: all 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}

.section-heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.big {
  font-size: 3rem;
  color: rgb(152, 115, 255);
}
